:root{
    --font: 'Roboto', serif;
    --header-container-heigt: 100px;
    --header-h1-font-size: 30px;
    --header-h1-font-type: bold;
    --header-underline-color: rgb(0, 81, 255);
    --add-todo-container-height: 50px;
    --todo-container-margin: 100px;
    --todo-container-top-margin: 10px;
    --todo-backround-color: grey;
    --global-font-size: 17px;
}

body{
    font-family: var(--font);
}

.hidden{
    visibility: hidden;
}

.required{
    border: 2px solid red !important;
    animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.todo-container{
    display: grid;
    margin-left: var(--todo-container-margin);
    margin-right: var(--todo-container-margin);
    font-size: 20px;
}
.todo{
    display: grid;
    grid-template-columns: 1fr 1fr 20fr 2fr 2fr;
    border: 0px solid black;
    box-shadow: 4px 3px 8px 1px #969696;
    border-radius: 10px;
    margin-top: var(--todo-container-top-margin);
    align-items: center;
}
.todo:hover{
    transform: scale(1.02);
}
.todo > button{
    height: 40px;
    margin-right: 10px;
    min-width: 50px;
    font-size: 20px;
    background: white;
}
.todo > input{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}
.todo > .edit-icon-container{
    margin-right: 10px;
}
.todo > .todo-edit-text{
    min-width: 95%;
    margin-right: 20px;
    border: 2px solid rgb(4, 117, 0);
    border-radius: 10px;
}
.todo > .todo-edit-text:focus{
    border: none;
    border-radius: 0px;
}
.todo > .delete-button{
    color: red;
    border: 2px solid red;
    border-radius: 10px;
}
.todo > .delete-button:hover{
    background-color: rgb(255, 233, 233);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.todo > .edit-button{
    color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    border-radius: 10px;
}
.todo > .edit-button:hover{
    background-color: rgb(235, 242, 252);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.todo > .save-button{
    color: rgb(4, 117, 0);
    border: 2px solid rgb(4, 117, 0);
    border-radius: 10px;
}
.todo > .save-button:hover{
    background-color: rgb(179, 247, 170);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.todo > .discard-button{
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    min-width: 80px;
}
.todo > .discard-button:hover{
    background-color: rgb(255, 233, 233);
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.completed-todo > p{
    text-decoration: line-through;
}
.todo-edit-text{
    font-size: 20px;
}

.add-todo-container{
    display: flex;
    flex-direction: row;
    border: 0px solid blue;
    margin-right: var(--todo-container-margin);
    margin-left: var(--todo-container-margin);
    align-items: center;
    box-shadow: 4px 3px 8px 1px #969696;
    border-radius: 10px;
}
.add-todo-container:hover{
    transform: scale(1.02);
    transition: transform 0.1s ease-in-out;
}
.add-todo-container>*{
    height: var(--add-todo-container-height);
}
.add-todo-container > #add-todo-button{
    width: 80px;
    color: rgb(0, 81, 255);
    border: 2px solid rgb(0, 81, 255);
    border-radius: 10px;
    font-size: 20px;
    margin-right: 20px;
    background-color: white;
    height: 50px;
}
.add-todo-container > #add-todo-button:hover{
    background-color: rgb(235, 242, 252);
    transform: scale(1.1);
}
#add-todo-content{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(0, 81, 255);
    font-size: 20px;
}
.loading-anim{
    height: 50px;
    width: 60px;
}

.edit-icon{
    height: 50px;
}
.edit-icon-container{
    display: flex;
    justify-content: center;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: var(--header-container-heigt);
    font-size: var(--header-h1-font-size);
    font-weight: var(--header-h1-font-type);
    color: rgb(0, 81, 255);
    margin-top: 30px;
}
.header-container > h1{
    margin-top: 0px;
    border-bottom: 2px solid var(--header-underline-color);
    margin-left: 100px;   
    text-shadow: 2px 2px 4px rgb(0, 16, 51);
}
.header-container > h1:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
    user-select: none;
}
.header-container > .username-container{
    display: flex;
    height: 50%;
    margin-right: 103px;
    margin-top: 25px;
}
.username-container > .username{
    text-decoration: underline;
    user-select: none;
    color: rgb(0, 81, 255);
}
.username-container > .username:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
    margin-right: 10px;
}
.username-edit-button{
    border: 2px solid rgb(0, 81, 255);
    font-size: 20px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    margin-top: 4px;
    color: rgb(0, 81, 255);
}
.username-edit-button:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease-in-out;
}
.username-edit-text > *{
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(0, 81, 255);
    margin-right: 10px;
    width: 150px;
}
.username-edit-text > *:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
.username-edit-text > *:focus{
    border:2px solid rgb(0, 81, 255);
}
.username-save-button{
    border: 2px solid rgb(0, 81, 255);
    font-size: 20px;
    height: 35px;
    width: 70px;
    border-radius: 10px;
    background-color: white;
    margin-top: 4px;
    color: rgb(0, 81, 255);
}
.username-save-button:hover{
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}
